*.iml
*.ipr
*.iws
*.ids
*.map
/target/
.idea/
.tmp
classes/
cobertura/
.DS_Store
.ruby-version
.ruby-gemset
unit-test-results.xml
e2e-test-results.xml
external-config
index_dev.htm
task.xls
node_modules
npm-debug.log
mails

src/test/sf-cucumber-test/results.html
src/test/sf-cucumber-test/cucumber.json
src/test/sf-cucumber-test/features/.cucumber
src/test/sf-cucumber-test/go
src/test/sf-cucumber-test/feature/support/screenshots/*.png
src/test/sf-cucumber-test/chromedriver.log
src/test/excel_templates/

src/main/webapp/scripts/*.js
src/main/webapp/package/*.js
src/main/webapp/resources/sass/images/icon-s*.png
src/main/webapp/resources/sass/images/sprite-s*.png
src/main/webapp/resources/sass/images/home-s*.png
src/main/scripts/
src/main/webapp/resources/script/dist
scripts


src/main/webapp/resources/script/dist/global.common.js
src/main/webapp/resources/script/dist/global.lib.js
src/main/webapp/resources/script/dist/ie.js


*.doc
*.rar
*.css
koala-config.json
Gemfile.lock

src/main/webapp/package/
src/main/webapp/scripts/
src/unit/karma-coverage/
src/unit/jslint.xml

received-emails

.sass-cache/
.gradle/
build/

src/test/task_excel/
